<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>Google Sing In</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.76687515824-sl0gs4aegc8b86jratdal22tk4ijjc07</string>
			</array>
		</dict>
	</array>
	<key>GIDClientID</key>
	<string>76687515824-sl0gs4aegc8b86jratdal22tk4ijjc07.apps.googleusercontent.com</string>
</dict>
</plist>
